@import url(fonts.css);

html {
  box-sizing: border-box;
}


* {
  scrollbar-color: yellow transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 20px;
  /* border: 3px solid transparent; */
}


*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

:root {
  --base-size: 1.1em;
  --type-scale: 1.25;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --primary-color: #9e1d20;
  --secondary-color: #091421;
  --accent: #fffcab;
  --max-widh: 1400px;
}

/* h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
} */

body {
  font-family: "DroidKufi", sans-serif;
  padding: 0;
  max-width: var(--max-widh);
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  font-size: 16px;
  line-height: 1.6;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    animation-delay: 00.01ms !important;
    scroll-behavior: auto !important;
  }
}

body::-webkit-scrollbar .direction-horizontal {
  display: none;
}

body .direction-horizontal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  /* object-fit: cover; */
}

.container {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
